.btn {
  display: block;
  padding: 15px;
  background-color: rgb(41, 97, 176);
  color: aliceblue;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  max-width: 250px;
}
